/adblock
/Application Cache
/blob_storage
/databases
/extensions
/File System
/GPUCache
/IndexedDB
/Local Storage
/Pepper Data
/Platform Notifications
/Service Worker
/sessions
/thumbnails
/VideoDecodeStats
/*.tmp
/browsedata.db
/Cookies
/Cookies-journal
/devtoolsprefs.json
/in_progress_download_metadata_store
/Origin Bound Certs
/Origin Bound Certs-journal
/QuotaManager
/QuotaManager-journal
/session.dat
/settings.ini
/TransportSecurity
/version
/Visited Links
/.project
/transfers.ini
/otter.conf
/browsingHistory.json
/typedHistory.json
/cookies.dat
/override.ini
/toolBars.json
/dialogs.json
/handlers.ini
/notifications.ini
/views.ini
/keyboard
/mouse
/TransportSecurity~RF1583fe.TMP
/session.dat.*
/.idea/
