/adblock
/Application Cache
/blob_storage
/databases
/extensions
/File System
/GPUCache
/IndexedDB
/Local Storage
/Pepper Data
/Platform Notifications
/Service Worker
/sessions
/thumbnails
/VideoDecodeStats
/02528879-a19d-4ae9-a326-515e03ede40a.tmp
/browsedata.db
/Cookies
/Cookies-journal
/devtoolsprefs.json
/in_progress_download_metadata_store
/Origin Bound Certs
/Origin Bound Certs-journal
/QuotaManager
/QuotaManager-journal
/session.dat
/session.dat.aGOWCU
/session.dat.AmKgmv
/session.dat.hAudnO
/session.dat.old
/session.dat.old1
/session.dat.ooVfZh
/session.dat.TgvtKX
/settings.ini
/TransportSecurity
/version
/Visited Links
/.project
